{% extends "base.html" %}
{% block contentA %}
<div class="column">
    <div class="ui segment">
        <h2>Add New job</h2>
        <div style="text-align: left; padding: 20px;">
            <h3 class="ui header sixteen wide column">Job Title</h3>
            <div class="ui fluid icon input">
                <input id="symbols_h" type="text" placeholder="Enter job tilte">
            </div>
            <h3>Job Description</h3>
            <textarea id="full-featured-non-premium">

                </textarea>
        </div>
        <button type="submit" id="save_me" class="positive ui button">Upload</button>
    </div>
</div>
<!-- <button id="bt">Get html</button>
<div id="myhtml"></div> -->
{% endblock %}